<h1>My very first custom section</h1>
{% schema %}
  {
    "name": "Intro",
    "settings": [],
    "presets": [
      {
        "name": "Intro"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}