<h1>My very first custom section</h1>
{% schema %}
  {
    "name": "Intro",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "My custom Heading"
      }
    ],
    "presets": [
      {
        "name": "Intro"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}